.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-container {
  background-color: white;
  color: rgba(33, 30, 30, 0.916);
}

.list-area{
  background-color: white;
}


